.main {
  padding: 0 20px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  min-width: 300px;
  max-width: 100%;
  margin: auto;
  padding: 28px 40px 30px;
  font-family: var(--primary-font);
  text-align: center;
  border-radius: 10px;
}


.title {
  margin-block: 0;
  text-shadow: var(--background-color) 2px 0 5px;
}

.blocksInfo {
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
}

@media (width <= 500px) {
  .container {
    margin: 2;
    padding: 20px 0;
  }
}
