
.addressItem,
.addressControl {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.addressItem {
  padding: 15px;
  text-align: start;
  border-bottom: 1px solid var(--secondary-color);
}

.addressControl {
  gap: 10px;
}

.detailShipping {
  width: 90%;
}

.changeAddress,
.saveAddress,
.deleteAddress,
.setAddress,
.emptyAddress {
  width: 25px;
  height: 25px;
  text-indent: -9999px;
  background-color: var(--text-color);
  background-size: cover;
  border: none;
  cursor: pointer;
  transition: all 300ms;
  transform: scale(1);
}

.changeAddress {
  background-image: url("/src/assets/images/fix.png");
}

.saveAddress {
  display: none;
  background-image: url("/src/assets/images/save.png");
}


.deleteAddress {
  background-image: url("/src/assets/images/delete.png");
}

.setAddress {
  background-image: url("/src/assets/images/choose.png");
}

.emptyAddress {
  background-image: url("/src/assets/images/empty.png");
}

.changeAddress:hover,
.saveAddress:hover,
.deleteAddress:hover,
.setAddress:hover,
.emptyAddress:hover {
  transition: all 300ms;
  transform: scale(1.1);
}

.form {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: start;
  width: 80%;
  max-width: 600px;
  margin: 20px auto 0;
  font-size: 16px;
  color: var(--primary-color);
}

.groupSection,
.inputWithError,
.optionShipping {
  width: 100%;
}

.inputWithError {
  padding-bottom: 10px;
}

.contextTitle {
  position: relative;
  width: 100%;
  padding: 0 10px;
  text-align: center;
  background-color: var(--text-color);
}

.groupTitle {
  position: relative;
  z-index: 5;
  display: inline-block;
  padding: 0 15px;
  background: var(--text-color);
}

.contextTitle::before {
  content: "";
  position: absolute;
  bottom: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(90deg, var(--primary-color), var(--secondary-color));
}

.groupSection,
.optionShipping {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.groupSection.groupCenter {
  justify-content: center;
}

.formInput {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: start;
  width: 100%;
}

.input {
  width: 100%;
  height: 30px;
  padding: 0 5px;
  font-family: var(--primary-font);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 5px;
}

.errorMsg {
  width: 100%;
  margin: -20px 0 -10px;
  font-size: 14px;
  text-align: right;
  color: var(--error-color);
}

.bigInput {
  width: 100%;
}

.smallInput {
  width: 45%;
}

.button {
  width: 80px;
  height: 40px;
  margin: 30px auto 0;
  font-size: 1em;
  color: var(--text-color);
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 6px;
  cursor: pointer;
  transition: all 500ms;
}

.button:hover {
  box-shadow: -5px 5px 5px var(--secondary-color);
  transition: all 500ms;
  transform: translateY(-2px);
}

.invalid,
.input.invalid:focus {
  box-shadow: 0 0 7px var(--error-color);
}

.input:focus {
  border: 1px solid var(--primary-color);
  box-shadow: 0 0 7px var(--primary-color);
}

.requiredTitle {
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  align-items: start;
}

.requiredTitle::after {
  content: "*";
  margin-left: 2px;
  font-size: 12px;
  color: var(--error-color);
}

@media (width <= 700px) {
  .form {
    padding: 0 20px 10px;
  }

  .smallInput {
    width: 100%;
  }
}

.password_block {
  position: relative;
}

.reveal {
  position: absolute;
  top: 29px;
  right: 6px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  background-image: url("/src/assets/images/hidden.svg");
  background-size: cover;
  border: none;


  @media (hover: hover) {
    &:hover {
      cursor: pointer;
    }
  }
}

.hidden {
  display: none;
}

.show {
  background-image: url("/src/assets/images/show.svg");
}

.registry_link {
  margin-top: 30px;
  text-align: center;
}

.link {
  font-weight: 600;
  text-decoration: none;
  color: var(--secondary-color);
}

.disabled {
  background-color: var(--disabled-color);
  border-color: var(--disabled-color);
  pointer-events: none;
  user-select: none;
}

.valid {
  box-shadow: 0 0 7px var(--secondary-color);
}

.invalid {
  box-shadow: 0 0 7px var(--error-color);
}

.error {
  width: 100%;
  margin-bottom: 20px;
  color: var(--error-color);
}

.radioBtn,
.checkBtn {
  width: 17px;
  height: 17px;
  margin-right: 7px;
  font-size: 3em;
  background-clip: border-box;
  border: 4px solid var(--text-color);
  border-radius: 50%;
  box-shadow: 0 0 0 1px var(--primary-color);
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  appearance: none;
}

.checkBtn {
  border-radius: 20%;
}

.radioBtn:checked,
.checkBtn:checked {
  background-color: var(--primary-color);
  box-shadow: 0 0 0 4px var(--secondary-color);
}

.radioBtn:hover,
.checkBtn:hover {
  background-color: var(--accent-color);
}

.checkBtn:hover {
  border-color: var(--secondary-color);
}

.container {
  display: flex;
  flex-flow: nowrap;
  justify-content: start;
  align-items: center;
  height: 50px;
}

.hide {
  display: none;
}
