
.addressItem,
.addressControl {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.addressItem {
  padding: 15px;
  border-bottom: 1px solid var(--secondary-color);
}

.addressControl {
  gap: 10px;
}

.changeAddress,
.saveAddress,
.deleteAddress {
  width: 25px;
  height: 25px;
  background-size: cover;
  cursor: pointer;
  transition: all 300ms;
  transform: scale(1);
}

.changeAddress {
  background-image: url("/src/assets/images/fix.png");
}

.saveAddress {
  display: none;
  background-image: url("/src/assets/images/save.png");
}


.deleteAddress {
  background-image: url("/src/assets/images/delete.png");
}

.changeAddress:hover,
.saveAddress:hover,
.deleteAddress:hover {
  transition: all 300ms;
  transform: scale(1.1);
}
