.registerMain {
  width: 100%;
}

.form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  max-width: 600px;
  margin: 50px auto;
  padding: 0 50px 10px;
  font-size: 20px;
  color: var(--primary-color);
  background: var(--text-color);
  border-width: 5px;
  border-style: solid;
  border-radius: 15px;
  border-image: linear-gradient(45deg, var(--primary-color), var(--secondary-color)) 5;
  border-image-slice: 1;
}

.groupSection,
.inputWithError {
  width: 100%;
}

.groupTitle {
  position: relative;
  width: 200px;
  text-align: center;
}

.groupTitle::before,
.groupTitle::after {
  content: "";
  position: absolute;
  right: 200px;
  bottom: 10px;
  width: 15dvw;
  max-width: 250px;
  height: 1px;
  background: linear-gradient(90deg, var(--primary-color), var(--secondary-color));
}

.groupTitle::before {
  left: 200px;
  background: linear-gradient(180deg, var(--primary-color), var(--secondary-color));
}

.groupSection {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.formInput {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: start;
  width: 100%;
}

.input {
  width: 100%;
  height: 30px;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 5px;
}

.errorMsg {
  width: 100%;
  margin: -20px 0 -10px;
  font-size: 14px;
  text-align: right;
  color: var(--error-color);
}

.bigInput {
  width: 100%;
}

.smallInput {
  width: 45%;
}

.button {
  width: 80px;
  height: 40px;
  font-size: 16px;
  color: var(--text-color);
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 6px;
  cursor: pointer;
  transition: all 500ms;
}

.button:hover {
  box-shadow: -5px 5px 5px var(--secondary-color);
  transition: all 500ms;
  transform: translateY(-2px);
}

.invalid,
.input.invalid:focus {
  box-shadow: 0 0 7px var(--error-color);
}

.input:focus {
  box-shadow: 0 0 7px var(--secondary-color);
}

@media (width <= 700px) {
  .form {
    padding: 0 20px 10px;
  }

  .smallInput {
    width: 80%;
  }
}
