.catalogBlock {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 50px auto 0;
}

.catalogItem {
  width: 30%;
  max-width: 450px;
  height: 350px;
  padding: 1rem;
  text-align: center;
  background: linear-gradient(var(--background-color) 0 0) padding-box, linear-gradient(45deg, var(--primary-color), var(--secondary-color)) border-box;
  border: 2px solid transparent;
  border-radius: 10px;

  & img {
    width: 250px;
    height: 250px;
    transition: all 500ms;
    transform: scale(1);
  }

  &:hover img {
    transition: all 500ms;
    transform: scale(1.1);
  }

  & a {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
  }
}

.catalogImage {
  max-width: 100%;
  height: auto;
}

.catalogTitle {
  margin-top: 0.5rem;
  font-size: 20px;
  text-decoration: none;
  color: var(--primary-color);
}

.catalogItem.catalogItemMore {
  width: 100%;
  max-width: 100%;
  height: 80px;
  transition: all 500ms;

  &:hover {
    box-shadow: -5px 5px 5px var(--secondary-color);
    transform: translateY(-2px);
  }
}

@media (width <= 1600px) {
  .catalogItem {
    width: 30%;
    height: 300px;

    & img {
      width: 200px;
      height: 200px;
    }
  }
}


@media (width <= 1400px) {
  .catalogItem {
    width: 45%;
    height: 200px;

    & img {
      width: 150px;
      height: 150px;
    }
  }
}

@media (width <= 900px) {
  .catalogItem {
    height: 220px;
  }

  .catalogItem a {
    flex-flow: column nowrap;
  }
}

@media (width <= 650px) {
  .catalogItem {
    width: 100%;
  }

  .catalogItem a {
    flex-flow: row nowrap;
  }
}
