.main {
  padding: 20px;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 300px;
  max-width: 100%;
  margin: auto;
  padding: 28px 40px 30px;
  font-size: 2em;
  text-align: center;
  color: var(--primary-color);
  background:
    linear-gradient(var(--background-color) 0 0) padding-box,
    linear-gradient(45deg, var(--primary-color), var(--secondary-color)) border-box;
  border: 5px solid transparent;
  border-radius: 10px;
}

.container {
  display: flex;
  flex-grow: 1;
  gap: 100px;
  justify-content: space-between;
  width: 100%;
  max-width: var(--max-width);
}

.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  &_desc {
    flex-grow: 1;
    align-content: center;
    width: 100%;
    margin: 0 0 3rem;
    padding: 0 15px;
    font-size: 3rem;
    text-align: center;
    background:
      linear-gradient(var(--background-color) 0 0) padding-box,
      linear-gradient(45deg, var(--primary-color), var(--secondary-color)) border-box;
    border: 5px solid transparent;
    border-radius: 10px;

    @media screen and (width <= 768px) {
      margin: 0 0 2rem;
      font-size: 2rem;
    }

    @media screen and (width <= 500px) {
      margin: 0 0 1.2rem;
      font-size: 1.2rem;
    }
  }
}

.link {
  font-size: 3rem;
  text-decoration: none;
  color: var(--text-color);

  @media screen and (width <= 768px) {
    font-size: 2rem;
  }

  @media screen and (width <= 500px) {
    font-size: 1.2rem;
  }
}

.text {
  margin-block: 0;
}

.cart {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-end;
}

.products {
  width: 100%;
  margin: 0 0 30px;
  padding: 20px;
  background: linear-gradient(var(--background-color) 0 0) padding-box, linear-gradient(45deg, var(--primary-color), var(--secondary-color)) border-box;
  border: 5px solid transparent;
  border-radius: 10px;
  list-style-type: none;
}

.products_item {
  position: relative;
  display: flex;
  gap: 30px;

  &:not(:last-child) {
    margin: 0 0 20px;
    padding: 0 0 20px;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 2px;
      background: linear-gradient(45deg, var(--primary-color), var(--secondary-color));
      border-radius: 10px;
    }
  }
}

.total_price_block {
  flex-shrink: 0;
  width: 400px;
  height: max-content;
  padding: 20px;
  background: linear-gradient(var(--background-color) 0 0) padding-box, linear-gradient(45deg, var(--primary-color), var(--secondary-color)) border-box;
  border: 5px solid transparent;
  border-radius: 10px;
}

.total_price,
.discount_block,
.original_price_block {
  display: flex;
  justify-content: space-between;
}

.total_price {
  margin: 0;
  font-size: 2rem;
}

.discount_block,
.original_price_block {
  margin: 0;
  font-size: 1.5rem;
}

.original_price_block {
  margin-bottom: 16px;
}

.price,
.discount {
  font-weight: 600;
}

.discount {
  text-decoration: line-through;
  color: var(--error-color);
}

.promobox {
  margin-top: 16px;
}

.promo_desc {
  margin: 0 0 5px;
  font-size: 1.3rem;
}

.promoblock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 24px;
}

.promocode {
  box-sizing: border-box;
  height: 30px;
  padding: 0 5px;
  font-family: var(--primary-font);
  font-size: 1em;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 6px;

  &:focus {
    border: 1px solid #000000;
  }

  &:focus-visible {
    outline: none;
  }
}

.check_out,
.clear_cart {
  font-size: 1.3rem;
}

.check_out {
  width: 100%;
}

.clear_cart {
  width: 9rem;

  &:disabled {
    background-color: var(--primary-color);
  }
}

.promocodes {
  display: flex;
  justify-content: space-between;
  margin: 0;
  font-size: 1.2rem;
  color: var(--secondary-color);
}

.wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1500;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  background-color: rgb(0 0 0 / 40%);
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s, visibility 0.3s;
  backdrop-filter: grayscale(1);

  &_hidden {
    opacity: 0;
    visibility: hidden;
  }

  & .modal {
    width: 400px;
    padding: 30px;
    background: linear-gradient(var(--background-color) 0 0) padding-box, linear-gradient(45deg, var(--primary-color), var(--secondary-color)) border-box;
    border: 5px solid transparent;
    border-radius: 10px;

    & .question {
      margin-top: 0;
      font-size: 1.7rem;
      text-align: center;

      @media (width <= 500px) {
        font-size: 1.5rem;
      }
    }

    & .buttons {
      display: flex;
      justify-content: space-around;
      font-size: 1.5rem;

      @media (width <= 500px) {
        font-size: 1.2rem;
      }
    }

    @media (width <= 500px) {
      width: 350px;
      padding: 25px;
    }
  }
}

.confirm {
  &:disabled {
    background-image: linear-gradient(45deg, #073283, var(--primary-color));
  }
}

.cancel {
  &:disabled {
    background-image: linear-gradient(45deg, #e43737, var(--error-color));
  }
}
