.topContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-image: linear-gradient(to bottom, #085a1f, #088d2e);
}

.categoriesList {
  max-width: var(--max-width);
  margin-inline: auto;
}

.breadcrumbs {
  align-self: flex-start;
  width: fit-content;
  margin-inline: calc(((100% - var(--max-width)) / 2) + 10px);
  margin-block: 10px;

  @media (width <= 1440px) {
    & {
      margin-inline: 10px;
    }
  }
}

.container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  margin-top: 30px;
  padding: 0 10.5%;
  text-align: center;
  color: var(--primary-color);
}

.title {
  margin-block: 0;
}

.text {
  margin-block: 0;
}

.product_box {
  display: flex;
  flex-grow: 1;
  gap: 15px;
  margin-bottom: 30px;

  @media screen and (width <= 768px) {
    flex-direction: column;
    align-items: flex-end;
  }
}

.products_section {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: calc(100% - 300px);

  @media screen and (width <= 768px) {
    width: 100%;
  }
}

.products {
  /*   display: grid;
  grid-template-columns: repeat(auto-fit, minmax(377px, 1fr)); */

  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin: 0;
  padding: 0;
  list-style-type: none;

  &_not_found {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    background:
      linear-gradient(var(--background-color) 0 0) padding-box,
      linear-gradient(45deg, var(--primary-color), var(--secondary-color)) border-box;
    border: 5px solid transparent;
    border-radius: 10px;
  }
}

.search_form {
  display: flex;
  justify-content: flex-end;

  & .search_box {
    position: relative;

    @media screen and (width <= 590px) {
      width: 100%;
    }
  }

  & .search {
    box-sizing: border-box;
    width: 250px;
    height: 30px;
    padding: 0 30px 0 5px;
    font-family: var(--primary-font);
    font-size: 1em;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 6px;

    &:focus {
      border: 1px solid #000000;
    }

    &:focus-visible {
      outline: none;
    }

    @media screen and (width <= 590px) {
      width: 100%;
    }
  }

  & .search_button {
    position: absolute;
    top: 6px;
    right: 6px;
    width: 20px;
    height: 20px;
    padding: 0;
    background-color: transparent;
    background-image: url("/src/assets/images/search.svg");
    background-size: cover;
    border: none;


    @media (hover: hover) {
      &:hover {
        cursor: pointer;
      }
    }
  }

  @media screen and (width <= 590px) {
    width: 100%;
  }
}

.sort_n_search_form {
  display: flex;
  gap: 15px;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 15px;

  @media screen and (width <= 1020px) {
    flex-direction: column;
  }

  @media screen and (width <= 768px) {
    flex-direction: initial;
  }

  @media screen and (width <= 590px) {
    flex-direction: column;
  }
}

.products_item {
  position: relative;
  z-index: 0;
}

.not_found {
  width: 100%;
  padding: 0 30px;
  font-size: 4rem;

  @media screen and (width <= 1250px) {
    font-size: 2rem;
    font-weight: 600;
  }

  @media screen and (width <= 900px) {
    padding: 0 15px;
    font-size: 1.5rem;
  }
}

.filters {
  width: 300px;
  height: fit-content;
  margin-top: 45px;
  padding-bottom: 10px;
  font-size: 1.5em;
  font-weight: 600;
  background-color: var(--background-color);
  border: 1px solid var(--primary-color);
  border-radius: 6px;

  @media screen and (width <= 1020px) {
    margin-top: 90px;
  }

  @media screen and (width <= 768px) {
    width: 100%;
    margin-top: 0;
  }
}

.pagination {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.pages {
  font-size: 1.5em;
}

.pag_left,
.pag_right {
  width: 45px;
  height: 45px;
  background-color: transparent;
  background-image: url("/src/assets/images/arrow_down.svg");
  background-size: cover;
  border: none;
  transition: transform 0.5s;

  @media (hover: hover) {
    &:hover {
      cursor: pointer;
    }
  }
}

.pag_left {
  transform: rotate(90deg);

  @media (hover: hover) {
    &:hover {
      transform: rotate(90deg) scale(1.2);
    }
  }
}

.pag_right {
  transform: rotate(-90deg);

  @media (hover: hover) {
    &:hover {
      transform: rotate(-90deg) scale(1.2);
    }
  }
}
