.swiper {
  min-height: 100px;
}

.pageSwiper {
  max-width: 100%;
  max-height: inherit;
}

.modalSwiper {
  max-width: 100%;
  height: 100%;
}

.swiper-wrapper {
  max-height: inherit;

  .modalSwiper & {
    max-height: 55svh;
  }
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  min-height: 200px;
}

.swiper-button-prev,
.swiper-button-next {
  text-shadow: 0 0 4px 4px var(--background-color);
  transition: color 0.3s ease-in-out;

  @media (hover: hover) {
    &:hover,
    &:focus-visible {
      color: var(--tertiary-color);
    }
  }
}

.swiper-pagination-bullet {
  --swiper-pagination-bullet-inactive-opacity: 0.5;
  --swiper-pagination-bullet-inactive-color: var(--secondary-color);

  width: 10px;
  height: 10px;
  box-shadow: 0 0 4px 4px var(--background-color);
  transition: background-color 0.3s ease-in-out;

  @media (hover: hover) {
    &:hover,
    &:focus-visible {
      background: var(--tertiary-color);
    }
  }
}

.swiper-pagination-bullet-active:hover {
  cursor: default;
}
