.product_link {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  text-decoration: none;
  color: var(--primary-color);
  background:
    linear-gradient(var(--background-color) 0 0) padding-box,
    linear-gradient(45deg, var(--primary-color), var(--secondary-color)) border-box;
  border: 5px solid transparent;
  border-radius: 10px;
  transform-style: preserve-3d;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(45deg, var(--primary-color), var(--secondary-color));
    border-radius: inherit;
    filter: blur(0);
    pointer-events: none;
    transition: all 0.5s;
    transform: translate3d(0, 0, -1px);
  }

  @media (hover: hover) {
    &:hover {
      .product_img {
        transform: scale(1.1);
      }

      &::before {
        filter: blur(10px);
      }
    }
  }
}

.image_box {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  max-width: 377px;
  height: 100%;
  max-height: 377px;
  border-radius: 10px;
}

.product_img {
  max-width: 100%;
  max-height: 100%;
  transition: transform 0.5s;
}

.item_box {
  box-shadow: inset 0 0 5px 0 #d3d3d3;
}

.product_name {
  max-width: 377px;
  height: 4.5rem;
  padding: 0 30px;
  text-align: left;
}

.product_description {
  overflow: hidden;
  max-width: 377px;
  max-height: 0;
  margin-top: 0;
  padding: 0 30px;
  text-align: justify;
  transition: max-height 0.5s;
}

.price_block {
  display: flex;
  align-items: center;
  margin: 67px 0 30px;
  padding: 0 30px;
  font-weight: 600;
  text-align: left;
}

.product_discount {
  margin-left: 15px;
  font-size: 0.9rem;
  text-decoration: line-through;
  color: var(--error-color);
}

.btn_details {
  position: absolute;
  right: 0;
  bottom: 75px;
  left: 0;
  z-index: 5;
  width: 8.44rem;
  margin: auto;
}
