* {
  box-sizing: content-box;
}

header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  height: 13%;
  padding: 0 10%;
  font-size: 19px;
  color: var(--constract-text-color);
  background: var(--main-color-first);
}

h1 {
  margin: 25px 0;
  font-size: 50px;
  text-align: center;
  text-shadow:
    -1px -1px 0 var(--main-color-second),
    1px -1px 0 var(--main-color-second),
    -1px 1px 0 var(--main-color-second),
    1px 1px 0 var(--main-color-second);
  color: var(--main-color-first);
}
