.item {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;

  @media (hover: hover) {
    &:hover {
      cursor: pointer;
    }
  }
}

.title {
  display: inline-block;
}

.icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("/src/assets/images/arrow_down.svg");
  background-size: cover;
  transition: transform 0.5s;

  &_show {
    transform: rotate(180deg);
  }
}

.range {
  overflow: hidden;
  max-height: 0;
  padding: 0 15px;
  transition: max-height 0.5s;

  &_active {
    max-height: 60px;
  }
}

.checkboxesList {
  overflow: hidden;
  max-height: 0;
  margin: 0;
  padding: 0 15px;
  font-weight: 100;
  text-align: left;
  list-style-type: none;
  transition: max-height 0.5s;
}

.checkbox {
  width: 16px;
  height: 16px;
}

.checkbox_label,
.checkbox {
  @media (hover: hover) {
    &:hover {
      cursor: pointer;
    }
  }
}

.fandoms_active {
  max-height: 468px;
}

.countries_active {
  max-height: 252px;
}

.materials_active {
  max-height: 288px;
}
