.productDetails {
  display: grid;
  grid-template-columns: 50% 1fr;
  gap: 10px;
  align-items: center;
  font-size: 18px;

  @media (width <= 1200px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  @media (width <= 480px) {
    font-size: 16px;
  }
}

.productImage {
  display: block;
  object-fit: contain;
  width: calc(100% - 80px);
  height: 100%;
  cursor: pointer;
  user-select: none;
}

.imageSlider {
  width: calc(100% - 20px);
  max-width: 100%;
  min-height: 200px;
  max-height: 550px;

  @media (width <= 1200px) {
    max-height: 400px;
  }
}

.productInfo {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  padding: 20px;

  @media (width <= 768px) {
    padding: 0 10px;
  }

  @media (width <= 480px) {
    padding: 0;
  }
}

.productName {
  margin-block: 0 10px;
  font-size: 2rem;

  @media (width <= 768px) {
    margin-bottom: 5px;
  }
}

.productDescription {
  margin-block: 0 5px;
  text-align: justify;

  @media (width <= 768px) {
    margin-bottom: 5px;
  }

  @media (width <= 480px) {
    font-size: 16px;
  }
}

.productPrice {
  display: flex;
  align-items: baseline;
  margin-bottom: 5px;

  .salePrice {
    display: flex;
    margin: 0;
    margin-right: 0.5rem;
    font-size: 1.5rem;
    color: var(--primary-color);
  }

  .originalPrice {
    display: flex;
    margin: 0;
    font-size: 1rem;
    text-decoration: line-through;
    color: var(--error-color);
  }

  .price {
    font-size: 1.5rem;
  }
}

.productQuantity {
  margin-bottom: 5px;
}

.productAttributes {
  display: grid;
  grid-template-columns: 1fr max-content 1fr max-content 1fr;
  gap: 8px;
  width: 100%;
  text-align: left;

  @media (width <= 480px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.attribute {
  display: flex;
  gap: 8px;
  width: fit-content;

  &:nth-child(2n+1) {
    grid-column: 2;
  }

  &:nth-child(2n) {
    grid-column: 4;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgb(0 0 0 / 60%);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease-in-out;
}

.modalContent {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: calc(100% - 40px);
  max-width: var(--max-width);
  max-height: calc(100% - 40px);
  padding: 1rem;
  background: var(--background-color);
  border-radius: 0.5rem;

  @media (width <= 768px) {
    & {
      max-width: calc(100% - 20px);
      max-height: calc(100% - 20px);
    }
  }

  .closeButton {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 100;
    background: none;
    border: none;
    cursor: pointer;

    &::after {
      content: "";
      display: block;
      width: 2rem;
      height: 2rem;
      background-color: #007aff;
      transition: background-color 0.3s ease-in-out;
      mask-image: url("@/assets/images/cross.svg");
      mask-repeat: no-repeat;
      mask-size: cover;
    }

    @media (hover: hover) {
      &:hover,
      &:focus-visible {
        &::after {
          background-color: var(--tertiary-color);
        }
      }
    }
  }

  .modalImage {
    display: block;
    object-fit: contain;
    max-width: 100%;
    height: 100%;
    margin: auto;
    cursor: pointer;
    user-select: none;
  }
}

.modalOpaque {
  opacity: 1;
  pointer-events: auto;
}

.infoMessage {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 8rem;
  font-size: 2rem;
  text-align: center;
}

.cartButton {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  min-width: 250px;
  font-size: 20px;
  font-weight: 500;
  transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;

  &::before {
    content: "";
    width: 24px;
    height: 24px;
    background-color: var(--primary-color);
    transition: none;
    mask-image: url("@/assets/images/cart.svg");
    mask-size: cover;
    mask-repeat: no-repeat;
  }

  &:disabled {
    color: var(--primary-color);
    background-color: none;
    background-image: linear-gradient(90deg, var(--tertiary-color), #feae00);

    &::before {
      background-color: var(--primary-color);
    }
  }

  &.inCart {
    color: var(--text-color);
    background-color: none;
    background-image: linear-gradient(90deg, #0b7428, #0d812e);

    &::before {
      background-color: var(--text-color);
    }

    &:disabled {
      color: var(--text-color);
      background-color: none;
      background-image: linear-gradient(90deg, #0b7428, #0d812e);

      &::before {
        background-color: var(--text-color);
      }
    }

    &:hover:not(:disabled),
    &:focus-visible:not(:disabled) {
      @media (hover: hover) {
        box-shadow: -5px 5px 5px var(--primary-color);
      }
    }
  }
}
