
.animateBlock {
  position: relative;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  width: calc(100% + 40px);
  height: 40px;
  font-size: 17px;
  background-color: var(--tertiary-color);
  border-top: 3px solid var(--secondary-color);
  border-bottom: 3px solid var(--secondary-color);
}

@keyframes ticker {
  0% {
    transform: translate(0);
  }

  100% {
    transform: translate(-100%);
  }
}


@keyframes ticker2 {
  0% {
    transform: translate(100%);
  }

  100% {
    transform: translate(0);
  }
}

.animateLine {
  position: absolute;
  top: 15%;
  width: 100%;
  white-space: nowrap;
}

.animateLineFirst {
  animation: ticker 15s linear infinite;
}

.animateLineSecond {
  animation: ticker2 15s linear infinite;
}

.animateBlock:hover .animateLine {
  animation-play-state: paused;
}


@media (width <= 400px) {
  .animateLineSecond {
    display: none;
  }
}
