
.animateBlock {
  position: relative;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  width: calc(100% + 40px);
  height: 40px;
  font-size: 17px;
}

.tertiary {
  background-image: linear-gradient(to top, #ffb23e, var(--tertiary-color));
}

.green {
  color: var(--text-color);
  background-image: linear-gradient(to bottom, #085a1f, #088d2e);
}

@keyframes ticker {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-650px);
  }
}

.animateLine {
  position: absolute;
  top: 20%;
  width: 100%;
  white-space: nowrap;
  animation: ticker 15s linear infinite;

  &:hover {
    animation-play-state: paused;
  }
}
