.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  font-size: 22px;
  list-style: none;
}

.crumb {
  display: flex;
  background-color: var(--background-color);
  border-radius: 5px;
}

.crumb:not(:last-child)::after,
.crumb:first-child::after {
  content: "/";
  padding: 5px;
}

.crumbLink {
  padding: 5px;
  text-decoration: underline;
  color: var(--primary-color);
  transition: color 0.3s ease-in-out, text-decoration-color 0.3s ease-in-out;
  text-underline-offset: 6px;
  text-decoration-thickness: 2px;
  text-decoration-color: var(--primary-color);

  &:hover,
  &:focus-visible {
    @media (hover: hover) {
      color: var(--tertiary-color);
      text-decoration-color: var(--tertiary-color);
    }
  }
}

.crumbSpan {
  padding: 5px;
}
